.el-button {
  padding: 10px 50px;
}

.el-button--medium {
  padding: 10px 40px;
}

.el-button--small {
  padding: 10px 30px;
}

.el-button--mini {
  padding: 10px 20px;
}
.el-button--other {
  padding: 10px 50px;
}