@import "./color.scss";
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* 改变主题色变量 */
$--color-primary: $color-primary;
$--color-success: $color-success;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
$--color-info: $color-info;

/* element-ui默认样式 */
@import "~element-ui/packages/theme-chalk/src/index";

//element-ui初始化组件样式

//button
@import "./element/button.scss";

